@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.bebas-neue {
  font-family: "Bebas Neue", sans-serif;
}

.swal-title,
.swal-text,
.swal-button {
  font-family: 'Poppins', sans-serif;
}

/* Buat custom backdrop */
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(1000px) !important;
  -webkit-backdrop-filter: blur(1000px) !important;
}

.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.modal-backdrop {
  transition: opacity 0.3s ease;
}