* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
  width: 100%;
  height: 60vh;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/homeBackground.jpg") no-repeat top center/cover;

  display: flex;
  justify-content: start;
  align-items: center;

  padding: 0 100px;
  color: white;
  font-weight: bold;
}

.hero h1 {
  width: 50%;
  font-size: 5rem;
  line-height: 0.8;
}

.data-list {
  position: relative;
  padding: 20px 8px;
}

.data-list .container {
  background-color: white;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.data-list .container .mahasiswa-data ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.data-list .container .sp-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.data-list .container .sp-data .card {
  padding: 10px;
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7)),
    url("../img/loginBackground.jpg") no-repeat bottom center/cover;
  height: 30vh;
  width: 100%;
  color: white;
  margin: 0;
}

.footer .container-fluid {
  backdrop-filter: grayscale(100);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 100px;
  gap: 20px;
}
.form-medsos {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}
.form-medsos form {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-medsos form .input-message {
  background-color: white;
  border: white 2px solid;
  border-radius: 4px;
  padding: 8px;
  color: black;
  outline: none;
}
.form-medsos form button {
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.form-medsos ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 1rem;
}

.form-medsos ul li {
  border: white 1.5px solid;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

