body {
  background-color: #f4f5f6;
}

.sidebar-card {
  padding: 0.6rem 0.8rem !important;
  border-radius: 6px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: visible;
}

.sidebar-card .label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
  font-size: 0.9rem;
  color: #6c757d;
  font-weight: semibold;
}

.sidebar-card svg {
  flex-shrink: 0;
}


.item-wrapper {
  margin-bottom: 6px;
}

.btn-custom {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.2s;
}

.btn-custom:hover {
  opacity: 0.8;
}

.bg-content {
  width: 100%;
  height: 350px;

  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('../img/loginBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  position: absolute;
  top: 150px;
}