.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;

  display: block;
  width: 20rem;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-container .wrapper {
  width: 100%;
  height: 100%;

  position: relative;
}

.sidebar-container .sidebar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.sidebar-container .sidebar-title img {
  width: 40px;
}

.sidebar-container .sidebar-title h2 {
  font-size: 18px;
}

.sidebar-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebar-container ul li a {
  padding: 0.75rem 1rem;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: transparent;
  text-decoration: none;
  color: black;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar-container ul li a:hover {
  background-color: rgb(37 99 235 / var(--tw-text-opacity, 1));
  transition: all 0.6s ease-in-out;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.sidebar-container .wrapper .logout-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar-container .wrapper .logout-form form {
  padding: 0 1rem 1rem 1rem;
}

.sidebar-container .wrapper .logout-form form button {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  cursor: pointer;
}

.sidebar-container .wrapper .logout-form form button:hover {
  background-color: rgb(239 68 68 / var(--tw-text-opacity, 1));
  transition: all 0.2s ease-in-out;
  color: white;
}

.sidebar-container .logout-form .account {
  padding: 0 1rem 0 1rem;
  font-size: 10px;
  line-height: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.sidebar-container .logout-form .account .email {
  font-size: 10px;
  line-height: 5px;
  font-weight: 200;
  font-size: 10px;
  line-height: 5px;
}

.menu-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-container ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0 1rem;
}

.menu-container ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  padding: 1rem;
  border-radius: 100%;
  color: black;
  text-decoration: none;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}

.menu-container ul li a:hover {
  background-color: rgb(37 99 235 / var(--tw-text-opacity, 1));
  transition: all 0.6s ease-in-out;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.menu-container ul li a.active {
  background-color: rgb(37 99 235 / var(--tw-text-opacity, 1));
  transition: all 0.6s ease-in-out;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 746px) {
  .sidebar-container {
    display: none;
  }

  .menu-container {
    display: block;
  }
}
