:root {
  --primary: #1e88e5;
  --warning: #fdd835;
  --destroy: #e53935;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f6;
}

.main-content {
  margin-left: 20rem;
  width: calc(100%-20rem);
}

.main-content .header {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.main-content .header .account .account-desc {
  text-align: end;
}

.main-content .header .account svg {
  border: black solid 1px;
  width: 35px;
  height: 35px;
  aspect-ratio: 35px;
  border-radius: 100%;
  padding: 0.5rem;
}

.main-content .header .account {
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 8px;
}

.main-content .header .account .email {
  font-weight: 400;
  font-size: 12px;
}

.tableSurat {
  padding: 1rem;
}

.tableSurat .container {
  background-color: white;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  overflow-x: auto;
}

.tableSurat .container .button .form-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ccc;
  padding: 0 0.5rem;
  border-radius: 8px;
}

.tableSurat .container .button .form-search label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
}

.tableSurat .container .button form input {
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}


table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

thead {
  background: #f1f5f9;
}

th,
td {
  padding: 10px 12px;
  text-align: left;
  border-bottom: 1px solid #e2e8f0;
}

tbody tr:nth-child(odd) {
  background: #f9fafb;
}

tbody tr:hover {
  background: #f1f5f9;
}

@media screen and (max-width: 992px) {
  .tableSurat .container .button .button-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .main-content {
    margin: 0;
    width: 100%;
  }
}